<c-modal id="liveDemoModal" [visible]="removeDeskModalVisible">
  <c-modal-header>
    <h5 cModalTitle>Удалить рабочее место?</h5>
    <button (click)="onCloseRemoveDeskModal()" cButtonClose></button>
  </c-modal-header>
  <c-modal-body>Рабочее место будет удалено без возможности восстановления</c-modal-body>
  <c-modal-footer>
    <button (click)="onCloseRemoveDeskModal()" cButton color="secondary">
      Отмена
    </button>
    <button cButton color="danger" (click)="removeDesk()">Да, удалить</button>
  </c-modal-footer>
</c-modal>

<c-card class="mb-2">
  <c-card-body>
    <strong style="cursor: pointer;" (click)="onDeskClick()">{{desk.name}}</strong>
    <div style="float: right">
      <button cButton color="danger" size="sm" (click)="onRemoveDeskClick()">
        <svg cIcon name="cilTrash" size="sm" title="Paper Plane Icon"></svg>
      </button>
    </div>

    <div class="edit-desk mt-4" [hidden]="!editMode">
      <form cForm
            [formGroup]="editDeskForm"
            (focusout)="deskEditFocusOut()"
            [validated]="editDeskFormValidated"
            class="needs-validation"
            (ngSubmit)="onEditDeskSubmit()"
      >
        <div class="mb-3">
          <label cLabel for="newDeskName">Название</label>
          <c-input-group class="has-validation">
            <input cFormControl
                   id="newDeskName"
                   type="text"
                   formControlName="name"
                   required = "required"
                   minlength="1"
            />
            <c-form-feedback [valid]="false">Название нужно ввести обязательно</c-form-feedback>
          </c-input-group>


        </div>
        <div class="mb-3">
          <label cLabel for="newDeskMonthPrice">Цена за месяц</label>
          <c-input-group class="has-validation">
            <input cFormControl
                   id="newDeskMonthPrice"
                   type="number"
                   formControlName="monthPrice"
                   required = "required"
                   min="1"
            />
            <c-form-feedback [valid]="false">Введите число больше нуля</c-form-feedback>
          </c-input-group>

        </div>
        <div class="mb-3">
          <label cLabel for="newDeskHourPrice">Цена за час</label>
          <c-input-group class="has-validation">
            <input cFormControl
                   id="newDeskHourPrice"
                   type="number"
                   formControlName="hourPrice"
                   required = "required"
                   min="1"
            />
          </c-input-group>
          <c-form-feedback [valid]="false">Введите число больше нуля</c-form-feedback>
        </div>
        <button cButton
                color="primary"
                type="submit"
                class="me-2"
                [disabled]="!editDeskForm.valid">
          Сохранить
        </button>
        <button cButton
                color="secondary"
                (click)="onEditDeskCancel()">
          Отмена
        </button>
      </form>
    </div>
  </c-card-body>
</c-card>


