<c-row>
  <c-col [sm]="12">
    <button cButton
            color="success"
            class="mb-3"
            (click)="onAddFilialPress()"
            [hidden]="addingFilialMode">
      Добавить филиал
    </button>
  </c-col>
</c-row>
<c-row>
  <c-col [sm]="12" [hidden]="!addingFilialMode">
    <c-card class="mb-4">
      <c-card-header><h5>Добавление филиала</h5></c-card-header>
      <c-card-body>
        <form cForm>
          <div class="mb-3">
            <label cLabel for="name">Название филиала</label>
            <input cFormControl
                   id="name"
                   placeholder="Название филиала"
                   type="text"
            />
          </div>
          <div class="mb-3">
            <label cLabel for="address">Адрес</label>
            <input cFormControl
                   id="address"
                   placeholder="Адрес"
                   type="text"
            />
          </div>
          <button cButton color="primary" class="me-1" (click)="onSaveNewFilial()">Сохранить</button>
        </form>
      </c-card-body>
    </c-card>
  </c-col>
</c-row>
<c-row>
  <c-col [sm]="6">
    <c-card class="mb-4">
      <c-card-body>
        <h5 cCardTitle>Домик Друзей на Андреевской</h5>
        <p cCardText>
          г.Череповец, ул. Андреевская, д.6
        </p>
        <button cButton color="primary" class="me-1">Редактировать</button>
        <button cButton color="danger" class="me-1">Удалить</button>
      </c-card-body>
    </c-card>
  </c-col>
  <c-col [sm]="6">
    <c-card class="mb-4">
      <c-card-body>
        <h5 cCardTitle>Домик Друзей на Архангельской</h5>
        <p cCardText>
          г. Череповец, ул. Архангельлская, 80
        </p>
        <button cButton color="primary" class="me-1">Редактировать</button>
        <button cButton color="danger" class="me-1">Удалить</button>
      </c-card-body>
    </c-card>
  </c-col>
</c-row>
