<c-row>
  <c-col [lg]="4" [md]="6" [sm]="12">
    <app-filial-select
      (selected)="onSelectFilial($event)"
      [selectedFilialId]="selectedFilialId"
      *ngIf="!roomAddingMode">
    </app-filial-select>
  </c-col>
  <c-col>
    <button cButton
            color="dark"
            class="float-end"
            (click)="onAddRoomClick()"
            [hidden]="roomAddingMode">Добавить кабинет</button>
  </c-col>
</c-row>

<div class="mt-3 mb-3" *ngIf="roomAddingMode">
  <app-edit-room
    (onAdd)="onRoomAdd($event)"
    (onCancelled)="onRoomAddCancelled()"></app-edit-room>
</div>

<c-row>
  <c-col>
    <table [striped]="true" cTable>
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Название</th>
        <th scope="col">Количество мест</th>
        <th scope="col">Филиал</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let room of rooms">
        <th scope="row">{{ room.id}}</th>
        <td><a [routerLink]="['/infrastructure/room-details']" [queryParams]="{id: room.id}"> {{ room.name }}</a></td>
        <td>{{ room.desks.length }}</td>
        <td>{{room.filialName}}</td>
      </tr>

      </tbody>
    </table>
  </c-col>
</c-row>
