<c-row>
  <c-col [md]="12" [lg]="6">
    <c-card>
      <c-card-header>
        <h4 class="float-start">Записались на сегодня</h4>
        <button class="float-end btn btn-sm btn-light">Добавить запись</button>
      </c-card-header>
      <c-card-body>
        <table
          [hover]="true"
          [responsive]="true"
          [striped]="true"
          style="vertical-align: middle;"
          cTable
          class="mb-0 border"
        >
          <thead cTableColor="light">
          <tr>
            <th class="text-center">
              <svg cIcon="" name="cilPeople"></svg>
            </th>
            <th>Гость</th>
            <th>Время записи</th>
            <th>Действия</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let booking of todayBookings; index as i" [ngClass]="booking.status === 'Cancelled' ? 'booking-cancelled' : ''" >
            <td class="text-center">
              <c-avatar
                size="md"
                src="{{ booking.user.avatar }}"
                status="{{ booking.color() }}"
              ></c-avatar>
            </td>
            <td>
              <div>{{ booking.user.name }}</div>
              <div class="small text-medium-emphasis">
                <span>{{ booking.user.phone }}</span>
              </div>
            </td>
            <td>
              <div>{{ booking.dateFrom.toLocaleTimeString([], {hour: '2-digit', minute:'2-digit'}) }} – {{ booking.dateTo.toLocaleTimeString([], {hour: '2-digit', minute:'2-digit'}) }}</div>
              <div class="small text-medium-emphasis">
                <span *ngIf="booking.canStop()">{{booking.getElapsedHours()}} час. {{booking.getElapsedMinutes()}} мин. (150₽)<br/></span>
                <span>{{ booking.status}}</span>
              </div>
            </td>
            <td>
                <button
                  cButton color="success"
                  (click)="onBookingStart(booking)"
                  size="sm"
                  *ngIf="booking.canStart()"
                  title="Начать"
                  class="me-2">
                  <svg cIcon="" name="cilMediaPlay"></svg>
                </button>

                <button
                  cButton color="danger"
                  size="sm"
                  *ngIf="booking.canStop()"
                  title="Закончить"
                  class="me-2">
                  <svg cIcon="" name="cilMediaStop"></svg>
                </button>

                <button
                  *ngIf="booking.canPay()"
                  cButton color="warning"
                  title="Оплатить"
                  size="sm"
                  class="me-2">
                  <svg cIcon="" name="cibCcVisa"></svg>
                </button>

                <button
                  *ngIf="booking.canCopy()"
                  cButton color="light-gradient"
                  title="Копировать"
                  size="sm"
                  variant="outline"
                  class="me-2">
                  <svg cIcon="" name="cilCopy"></svg>
                </button>

                <button *ngIf="booking.canCancel()"
                        cButton color="light-gradient"
                        title="Отменить"
                        size="sm"
                        class="me-2"
                        variant="outline">
                  <svg cIcon="" name="cilBan"></svg>
                </button>

                <button cButton color="light-gradient"
                        title="Редактировать"
                        size="sm"
                        class="me-2"
                        variant="outline">
                  <svg cIcon="" name="cilPencil"></svg>
                </button>
            </td>
          </tr>
          </tbody>
        </table>
      </c-card-body>
    </c-card>
  </c-col>

  <c-col [md]="12" [lg]="6">
    <c-card>
      <c-card-header>
        <h4>Могут прийти по абонементу</h4>
      </c-card-header>
      <c-card-body>
        <table
          [hover]="true"
          [responsive]="true"
          [striped]="true"
          style="text-align: center"
          cTable
          class="mb-0 border"
        >
          <thead cTableColor="light">
          <tr>
            <th class="text-center">
              <svg cIcon="" name="cilPeople"></svg>
            </th>
            <th>Гость</th>
            <th>Абонемент</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let user of residents; index as i">
            <td class="text-center">
              <c-avatar
                size="md"
                src="{{ user.avatar }}"
              ></c-avatar>
            </td>
            <td>
              <div>{{ user.name }}</div>
              <div class="small text-medium-emphasis">
                <span>{{ user.phone }}</span>
              </div>
            </td>
            <td>
              <div class="clearfix">
                <div class="float-start">
                  <strong>{{ user.subscription.percent }}%</strong>
                </div>
                <div class="float-end">
                  <small class="text-medium-emphasis">
                    {{ user.subscription.from.toLocaleDateString() }} – {{ user.subscription.to.toLocaleDateString() }}
                  </small>
                </div>
              </div>
              <c-progress thin>
                <c-progress-bar
                  [value]="user.subscription?.percent"
                  color="{{ user.subscription?.usage_color() }}-gradient"
                ></c-progress-bar
                >
              </c-progress>
            </td>
          </tr>
          </tbody>
        </table>
      </c-card-body>
    </c-card>
  </c-col>

</c-row>
