<c-modal id="liveDemoModal" [visible]="showRemoveRoomModal">
  <c-modal-header>
    <h5 cModalTitle>Удалить кабинет?</h5>
    <button (click)="onCloseRemoveRoomModal()" cButtonClose></button>
  </c-modal-header>
  <c-modal-body>Кабинет со всеми рабочими местами будет удалён без возможности восстановления</c-modal-body>
  <c-modal-footer>
    <button (click)="onCloseRemoveRoomModal()" cButton color="secondary">
      Отмена
    </button>
    <button cButton color="danger" (click)="removeRoom()">Да, удалить</button>
  </c-modal-footer>
</c-modal>

<h1>Редактирование кабинета</h1>

<app-edit-room [room]="this.room"></app-edit-room>

<c-row>
  <c-col [sm]="10" [md]="8" [lg]="9">
    <h4>Рабочие места:</h4>
    <app-desk *ngFor="let desk of room.desks"
              [desk]="desk">
    </app-desk>

    <c-card [hidden]="!newDeskMode" class="w-75 mb-2 mt-4">
      <c-card-header>
        <h5>Добавить новое рабочее место</h5>
      </c-card-header>
      <c-card-body>
        <form #customStylesForm="ngForm"
              (ngSubmit)="onNewDeskSubmit()"
              (focusout)="deskAddFocusOut()"
              [validated]="addDeskFormValidated"
              [formGroup]="newDeskForm"
              cForm
              class="needs-validation"
        >
          <div class="mb-3">
            <label cLabel for="newDeskName">Название</label>
            <c-input-group class="has-validation">
              <input cFormControl
                     id="newDeskName"
                     type="text"
                     formControlName="name"
                     required="required"
                     minlength="3"
                     placeholder="Например, «Стол №4»"
              />
              <c-form-feedback [valid]="false">Название нужно ввести обязательно</c-form-feedback>
            </c-input-group>
          </div>
          <div class="mb-3">
            <label cLabel for="newDeskMonthPrice">Цена за месяц</label>
            <c-input-group>
              <input cFormControl
                     id="newDeskMonthPrice"
                     type="number"
                     min="1"
                     required = "required"
                     formControlName="monthPrice"
              />
              <c-form-feedback [valid]="false">Нужно ненулевое значение</c-form-feedback>
            </c-input-group>

          </div>
          <div class="mb-3">
            <label cLabel for="newDeskHourPrice">Цена за час</label>
            <c-input-group>
              <input cFormControl
                     id="newDeskHourPrice"
                     type="number"
                     formControlName="hourPrice"
                     required = "required"
                     min="1"
              />
              <c-form-feedback [valid]="false">Нужно ненулевое значение</c-form-feedback>
            </c-input-group>
          </div>
          <button cButton
                  color="dark"
                  type="submit"
                  class="me-2"
                  [disabled]="!newDeskForm.valid">
            Сохранить
          </button>
          <button cButton
                  color="secondary"
                  (click)="onNewDeskCancel()">
            Отмена
          </button>
        </form>
      </c-card-body>
    </c-card>
    <button [hidden]="newDeskMode"  cButton color="dark" (click)="onNewDeskClick()">Добавить рабочее место</button>
  </c-col>
</c-row>
<hr class="mt-5"/>
  <button cButton color="danger" (click)="onRemoveRoomClick()">Удалить кабинет</button>
