<c-modal id="liveDemoModal" [visible]="showRemoveRoomModal">
  <c-modal-header>
    <h5 cModalTitle>Удалить кабинет?</h5>
    <button (click)="onCloseRemoveRoomModal()" cButtonClose></button>
  </c-modal-header>
  <c-modal-body>Кабинет со всеми рабочими местами будет удалён без возможности восстановления</c-modal-body>
  <c-modal-footer>
    <button (click)="onCloseRemoveRoomModal()" cButton color="secondary">
      Отмена
    </button>
    <button cButton color="danger" (click)="removeRoom()">Да, удалить</button>
  </c-modal-footer>
</c-modal>

<c-row>
  <c-col [lg]="7" class="mb-5">
    <form #customStylesForm="ngForm"
          (ngSubmit)="onRoomEditSubmit()"
          (focusout)="roomEditFocusOut()"
          [validated]="editRoomFormValidated"
          [formGroup]="editRoomForm"
          cForm
          class="needs-validation">

      <label cLabel for="exampleFormControlInput1">Название кабинета</label>
      <c-input-group class="has-validation">
        <input cFormControl
               required
               id="exampleFormControlInput1"
               type="text"
               formControlName="name"
        />
        <c-form-feedback [valid]="false">Название нужно ввести обязательно</c-form-feedback>
      </c-input-group>


      <div>
        <div style="display: inline-block; vertical-align: baseline">
          <c-input-group class="mb-3 mt-2">
            <input cFormControl id="inputGroupFile02" type="file" />
          </c-input-group>
        </div>
        <img style="display: inline-block; margin-left: 5px; padding-bottom: 3px"
             height="38"
             src="https://coreui.io/angular/docs/assets/img/angular400.jpg"
        />
      </div>
      <button cButton
              color="primary"
              type="submit"
              style="width: auto"
              [disabled]="!editRoomForm.valid">
        Сохранить
      </button>
    </form>
  </c-col>
</c-row>


<c-row>
  <c-col [sm]="10" [md]="8" [lg]="9">
    <h4>Рабочие места:</h4>
    <app-desk *ngFor="let desk of room.desks"
              [desk]="desk">
    </app-desk>

    <c-card [hidden]="!newDeskMode" class="w-75 mb-2 mt-4">
      <c-card-header>
        <h5>Добавить новое рабочее место</h5>
      </c-card-header>
      <c-card-body>
        <form cForm [formGroup]="newDeskForm"
                    (ngSubmit)="onNewDeskSubmit()"
        >
          <div class="mb-3">
            <label cLabel for="newDeskName">Название</label>
            <input cFormControl
                   id="newDeskName"
                   type="text"
                   formControlName="name"
            />
          </div>
          <div class="mb-3">
            <label cLabel for="newDeskMonthPrice">Цена за месяц</label>
            <input cFormControl
                   id="newDeskMonthPrice"
                   type="number"
                   formControlName="monthPrice"
            />
          </div>
          <div class="mb-3">
            <label cLabel for="newDeskHourPrice">Цена за час</label>
            <input cFormControl
                   id="newDeskHourPrice"
                   type="number"
                   formControlName="hourPrice"
            />
          </div>
          <button cButton
                  color="primary"
                  type="submit"
                  class="me-2">
            Сохранить
          </button>
          <button cButton
                  color="secondary"
                  (click)="onNewDeskCancel()">
            Отмена
          </button>
        </form>
      </c-card-body>
    </c-card>
    <button [hidden]="newDeskMode"  cButton color="success" (click)="onNewDeskClick()">Добавить рабочее место</button>
  </c-col>
</c-row>
<hr class="mt-5"/>
  <button cButton color="danger" (click)="onRemoveRoomClick()">Удалить кабинет</button>
